@use "../../styles/partials/typography";
@use "../../styles/partials/global.scss";
@use "../../styles/partials/colors";

.todo {
    font-family: "Notes1";
    font-size: 20px;
    margin: 20px;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 10px #ddd;
    background-color: colors.$purple;
    &__list {
        background-color: colors.$purple; 
    }
    &__button--complete {
      margin-right: 10px;
      text-decoration: line-through;
    }
    &__button--edit {
      margin-right: 10px;
    }
  }
  