
@font-face {
    font-family: "Notes";
    src: url("../../assets/Fonts/NotePlanner.ttf") format("truetype");
}

@font-face {
    font-family: "Journal";
    src: url("../../assets/Fonts/Self Deception - TTF.ttf") format("truetype");
}
