@use "../../styles/partials/typography";
@use "../../styles/partials/global.scss";
@use "../../styles/partials/colors";

.journalId{
    &__form { 
       font-family: "Journal";
       margin: 2rem;
       display: flex;
       flex-direction: column;
    }
    &__label {
        font-size: 50px; 
        font-weight: bold;
    }
    &__title {
        font-size: 30px; 
    }
    &__input {
        width: 100%;
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
        margin: 0.9vw 0;
        border: 0;
        border-radius: 5px;
        font-size: 30px;
        padding: 1rem;
        word-wrap: break-word;
        text-align: start;
        border: 10px dotted colors.$purple;
        height: 60vh;
    }
    &__button {
        background-color: colors.$pink;
        color: white;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 30px;
        font-weight: bold;
        width: 150px;
        margin-top: 2rem;
        &-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}