@use "../../styles/partials/typography";
@use "../../styles/partials/global.scss";
@use "../../styles/partials/colors";

.modal{
    &__container{
        font-family: "Notes1";
    }
    &__title {
        font-size: 40px;
    }
    &__label {
        font-size: 20px;
        margin: 1.5rem;
    }
    &__input {
        border: 2px solid colors.$black; 
        border-radius: 5px;
        padding: 0.5rem;
    }
    &__button {
        background-color: colors.$pink;
        color: white;
        border-radius: 5px;
        padding: 0.5rem;
        margin-left: 1rem;
        &-container  {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__addbutton {
        background-color: colors.$pink;
        color: white;
        border-radius: 5px;
        padding: 0.5rem;
        width: 150px;
        margin-bottom: 1rem;
    }
}
.calendar {
    width: 80vw; 
    border: 10px dotted colors.$purple;
    padding: 1rem;
}
