@use "../../styles/partials/typography";
@use "../../styles/partials/global.scss";
@use "../../styles/partials/colors";

.journalsidebar {
    background-color: rgb(238, 188, 216);
    height: 100vh;
    width: 20vw;
    font-family: "Notes";
    &__title{
    font-weight: bold;
    padding: 1rem;
    }
}